.prepare-form {
  width: 100%;

  background: #4C9FFF;

  .prepare-form__container {
    padding: 100px 0;

    display: flex;
    align-items: center;
    gap: 175px;
  }

  .prepare-form__info {
    width: 100%;
  }
}

.prepare-form__text-info {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.prepare-form__title {
  h3 {
    color: #FFF;
    font-family: Unbounded, sans-serif;
    font-size: clamp(20px, 20px + .5vw, 34px);
    font-weight: 400;
  }
}
.prepare-form__theme {
  h5 {
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: clamp(25px, 25px + .6vw, 40px);
    font-style: normal;
    font-weight: 600;
  }
}
.prepare-form__group {
  color: #FFF;
  font-family: Inter, sans-serif;
  font-size: clamp(12px, 12px + .5vw, 25px);
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 500px){
  .prepare-form {

    .prepare-form__container {
      padding: 46px 0;

      flex-direction: column;
      gap: 46px;
    }

    .prepare-form__info {

    }
  }

  .prepare-form__text-info {
      gap: 12px;
  }

  .prepare-form__title {
    h3 {
      font-size: 1.7em;
    }
  }
  .prepare-form__theme {
    h5 {
      font-size: 1.5em;
    }
  }
  .prepare-form__group {
    font-size: 1em;
  }
}