.prepare-subjects {
  margin-top: 68px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media screen and (max-width: 500px){
  .prepare-subjects {
    margin-top: 40px;

    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
  }

}