.prepare-form-card {
  overflow: hidden;

  width: 100%;

  padding: 44px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  border-radius: 10px;
  background: #FFF;
}

.prepare-form-card__hours {
  display: flex;
  align-items: center;

  p {
    color: #4C9FFF;
    font-weight: 400;

    &:nth-child(1) {
      font-family: Unbounded, sans-serif;
      font-size: clamp(50px, 50px + .5vw, 80px);
    }

    &:nth-child(2) {
      font-family: Inter, sans-serif;
      font-size: clamp(20px, 20px + .1vw, 30px);
    }
  }
}

.prepare-form-card__months {
  color: #A7A7A7;
  font-family: Unbounded, sans-serif;
  font-size: clamp(15px, 15px + .1vw, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.prepare-form-card__addon-info {
  color: #000;
  text-align: center;
  font-family: Unbounded, sans-serif;
  font-size: clamp(8px, 8px + .2vw, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 500px) {
  .prepare-form-card {
  }

  .prepare-form-card__hours {
    flex-direction: column;

    p {

      &:nth-child(1) {
        font-size: 3em;
      }

      &:nth-child(2) {
        font-size: 1.4em;
      }
    }
  }
  .prepare-form-card__months {
    text-align: center;

    font-size: .8em;
  }
  .prepare-form-card__addon-info {
    text-align: center;

    font-size: .7em;
  }
}