.course-description {
  position: relative;

  width: 100%;
  height: 950px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .course-description__hand {
    position: relative;

    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    z-index: 1;

    pointer-events: none;
  }
}

.course-description__descr {
  position: absolute;
  top: 0;
  right: 0;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: flex-end;


  .course-description__container {
    width:  calc(46%);
    height: auto;

    background: #4D9FFF;
  }
}

.course-description__test {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  .course-description__test-c {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding-top: 150px;
  }
}