.course-description__title {
  h1 {
    color: #FFF;
    font-family: Unbounded, sans-serif;
    font-size: 42.238px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.course-description__subt {
  display: flex;
  align-items: center;
  gap: 20px;

  .course-description__img {
    width: 231px;
    height: 92px;

    border-radius: 107px;

    background-position: center;
  }

  .course-description__subt-text {
    h2 {
      color: #FFF;
      font-family: Unbounded, sans-serif;
      font-size: 101.93px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
.course-description__text {
  margin-top: 139px;

  max-width: 670px;


  p {
    color: #FFF;
    font-family: Unbounded, sans-serif;
    font-size: 30.697px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.course-description__price-info {
  width: 100%;

  max-width: 670px;
  margin-top: 128px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-description__price {
  p {
    color: #FFF;
    text-align: center;
    font-family: Unbounded, sans-serif;
    font-size: 43.902px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &:nth-child(2) {
      font-size: 29.14px;
    }
  }
}

.course-description__btn {
  border-radius: 74px;
  background: #FFF;

  color: #4C9FFF;
  font-size: 30.838px;
  font-weight: 600;

  padding: 20px 40px;
}

.course-description__descriptor {
  margin-top: 30px;

  color: #FFF;
  font-family: Unbounded, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;

  width: 670px;

  ul {
    padding-left: 20px;
  }
}

@media screen and (max-width: 500px){
  .course-description__title {
    text-align: center;

    h1 {
     font-size: 1.2em;
    }
  }

  .course-description__subt {
    margin-top: 10px;

    .course-description__img {
      width: 140px;
      height: 55px;

      background-position: bottom;
    }

    .course-description__subt-text {
      h2 {
        font-size: 2.2em;
      }
    }
  }
  .course-description__text {

    padding: 0 25px;

    p {
      font-size: 1em;
    }
  }

  .course-description__price-info {
    max-width: none;

    margin-top: 170px;
    width: calc(100% - 40px);
  }

  .course-description__price {
    p {
      font-size: 1.4em;

      &:nth-child(2) {
        font-size: 1em;
      }
    }
  }

  .course-description__btn {
    font-size: 1em;

    padding: 16px 32px;
  }

  .course-description__descriptor {
    margin-top: 40px;

    width: calc(100% - 40px);

    font-size: 12px;
    ul {
      font-size: 12px;
    }
  }

}