.sing-up-btn {
  padding: 12px 24px;

  border-radius: 43px;
  background: #3D67FF;

  color: #FFF;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  outline: none;
  border: none;

  cursor: pointer;
}

@media screen and (max-width: 500px){
  .sing-up-btn {
    font-size: 14px;
  }
}