.prepare-card__flip-wrapper {
  position: relative;
  width: 100%;
  height: 221px;

  background: transparent;
  perspective: 1000px;
}

.prepare-card__flip-wrapper-inner_flipped {
  transform: rotateY(-180deg);
}

.prepare-card__flip-wrapper-inner {
  position: relative;
  width: 100%;
  height: 100%;

  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.prepare-card {
  position: absolute;
  top: 0;
  left: 0;

  backface-visibility: hidden;

  width: 100%;
  height: 100%;

  border-radius: 14px;
  background: #4C9FFF;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  img {
    width: clamp(40px, 40px + .5vw,60px);
  }

  p {
    max-width: 90%;

    color: #FFF;
    font-family: Unbounded, sans-serif;
    font-size: clamp(10px, 10px + .4vw, 20px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  button {
    color: #000;
    font-family: Unbounded, sans-serif;
    font-size: clamp(8px, 8px + .4vw, 12px);
    font-style: normal;
    font-weight: 100;
    line-height: normal;

    padding: 15px 10px;

    border: none;

    display: flex;
    align-items: center;
    gap: 8px;

    border-radius: 8px;
    background: #FFF;

    cursor: pointer;
  }
}

.prepare-card__addon-info {
  backface-visibility: hidden;

  transform: rotateY(180deg);

  width: calc(100% - 80px);
  height: calc(100% - 40px);

  border-radius: 14px;
  background: #FFF;

  padding: 20px 40px;

  display: flex;
  flex-direction: column;

  .prepare-card__addon-wrapper {

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.prepare-card__addon-title {
  display: flex;
  align-items: center;
  gap: 12px;

  img {
    width: clamp(15px, 15px + .5vw,32px);
    filter: invert(1);
  }

  h5 {
    color: #000;
    font-family: Unbounded, sans-serif;
    font-size: clamp(10px, 10px + .35vw,20px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.prepare-card__close {
  cursor: pointer;

  button {
    background: transparent;
    border: none;

    cursor: pointer;
  }
}

.prepare-card__addon-text {
  margin-top: 24px;

  color: #000;
  font-family: Unbounded,sans-serif;
  font-size: clamp(10px, 10px + .2vw, 16px);
  font-style: normal;
  font-weight: 250;
  line-height: normal;
}

.prepare-card__download {
  margin-top: 16px;

  padding: 14px 8px;

  display: flex;
  gap: 10px;
  align-items: center;

  border: none;

  border-radius: 8px;
  background: #4C9FFF;

  cursor: pointer;

  color: #FFF;
  font-family: Unbounded,sans-serif;
  font-size: clamp(8px, 8px + .2vw, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 500px){
  .prepare-card__flip-wrapper {
    overflow: hidden;


    max-width: 100%;
  }

  .prepare-card__flip-wrapper-inner_flipped {


  }

  .prepare-card__flip-wrapper-inner {

  }

  .prepare-card {
    img {
      width: 40px;
    }

    p {
      font-size: .8em;
      text-align: center;
    }

    button {
      font-size: .7em;
    }
  }

  .prepare-card__addon-info {
    width: calc(100% - 20px);
    height: calc(100% - 20px);

    padding: 10px;

    .prepare-card__addon-wrapper {

    }
  }

  .prepare-card__addon-title {
    gap: 5px;

    img {
      width: 17px;
    }

    h5 {
      font-size: .7em;
    }
  }

  .prepare-card__close {

    button {

    }
  }

  .prepare-card__addon-text {
    font-size: .7em;
  }

  .prepare-card__download {
    padding: 6px 8px;

    font-size: .5em;

  }
}