.study-info {
  margin-top: 129px;
  margin-bottom: 100px;
}

.study-info__container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start;
}
.study-info__info {
  width: 580px;

  display: flex;
  flex-direction: column;
  gap: 73px;
}

.study-info__title {
  h3 {
    color: #000;
    font-family: Unbounded, sans-serif;
    font-size: clamp(15px, 15px + .7vw, 32px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.study-info__docs {
  color: #4C4C4C;
  font-family: Inter, sans-serif;
  font-size: clamp(20px, 20px + .1vw, 28px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.study-info__addon-info {
  h5 {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  ul {
    color: #4C4C4C;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    padding-left: 20px;
  }
}

.study-info__map {
  width: 1095px;
  height: 597px;
}

@media screen and (max-width: 500px){
  .study-info {
    margin-top: 68px;
    margin-bottom: 68px;
  }

  .study-info__container {
    flex-direction: column;
    gap: 40px;
  }
  .study-info__info {
    width: 100%;
  }

  .study-info__title {
    h3 {
      font-size: 1.5em;
    }
  }
  .study-info__docs {
    font-size: 1.1em;
  }
  .study-info__addon-info {
    h5 {
      font-size: 1.1em;
    }
    ul {
      font-size: 1em;
    }
  }

  .study-info__map {
    width: 100%;
    height: 350px;
  }
}
